@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    /*alineamos items y ponemos un tamaño predeterminado*/
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
}

header {
    /*acomodar elementos de nav uno al lado del otro*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    width: 100px;
}

header ul {
    /*listas una al lado de la otra*/
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover {
    background: #017143;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
    font-weight: 700;
}

.content {
    /*poner uno al lado del otro*/
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    /*solo abaque un espacio*/
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    /*editamos letra de titulo*/
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    /*palabra starbucks*/
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    /*texto del lorem*/
    color: #333;
}

.content .textBox a {
    /*boton*/
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    /*no quede tan pegado*/
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    /*al poner el cursos se mueva*/
    transform: translateY(-15px)
}

.thumb li img {
    max-width: 50px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /*iconos invertidos*/
    filter: invert();
}

.sci img {
    width: 80px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    /*hacemos circulo a la derecha abajo*/
    clip-path: circle(600px at right 800px);
}